<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#4886FF">
    <title>@ViewData["Title"] - Fast Mechanism</title>
    <!-- icon -->
    <link rel="icon" type="image/x-icon" href="~/logo.ico">
    <!-- css style-->
    <link rel="stylesheet" href="~/css/footer.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/info.css" /> 
    <link rel="stylesheet" href="~/css/game.css" />
    <link rel="stylesheet" href="~/css/headrcss.css" />
    <!-- css library-->
    <style>
        :root {
            --color-success-fg: #3fb950;
            --color-success-emphasis: #238636;
            --color-switch-knob-checked-disabled-bg: #484f58;
        }

        .Beta {
            padding: 0 4px 0 4px;
            color: var(--color-success-fg);
            display: inline;
            padding: 0.12em 0.5em; 
            display: inline-block;
            padding: 0 7px;
            font-size: 12px;
            font-weight: 500;
            line-height: 18px;
            white-space: nowrap;
            border: 1px solid transparent;
            border-radius: 2em;
            border-color: var(--color-success-emphasis);
            margin-left: 4px !important;
            padding-right: 4px !important;
            padding-left: 4px !important;
            background: var(--color-switch-knob-checked-disabled-bg);
        }

        .downloadbtn {
            position: absolute;
            right: 0px;
            padding: 16px;
            border: 0px;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.25em;
            text-transform: capitalize;
            color: #000000;
            background: linear-gradient(98.95deg, #0AB3BD 0%, #530EE7 100%, #314DCF 100%);
            text-decoration: none;
            display: inline-block;
            width: 126px;
            height: 50px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <div class="logо_block">
            <img class="logo_img" src="/img/logo.png" alt="Fast Mechanism">
            <div class="logo_text">Fast Mechanism</div>
            @{
                var page = (ViewContext.RouteData.Values["page"]
                    ?.ToString()?.ToLower().Trim());
            }

        </div>
        <div class="download_block">
            <a type="reset" class="downloadbtn" asp-area="" asp-page="/Index">Download</a>
        </div>
        <div class="navigation">
            <ul>
                <li class="list sup @(page == "/employees/support" ? "active" : "")">
                    <a asp-area="" asp-page="/Employees/support">
                        <span class="textheadr">support</span>
                    </a>
                </li>
                <li class="list @(page == "/employees/games" ? "active" : "")">
                    <a asp-area="" asp-page="/Employees/Games">
                        <span class="textheadr">Games</span>
                    </a>
                </li>
                <li class="list prog @(page == "/employees/programs" ? "active" : "")">
                    <a asp-area="" asp-page="/Employees/programs">
                        <span class="textheadr">programs</span>
                    </a>
                </li>
                <li class="list last info @(page == "/employees/info" ? "active" : "")">
                    <a asp-area="" asp-page="/Employees/info">
                        <span class="textheadr">info</span>
                    </a>
                </li>
                <div class="indicator"></div>
            </ul>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="contact">
            <div class="contact_icons">
                <a>
                    <img src="/img/Telegram.png" alt="Telegram" class="Telegram_img">
                </a>
                <a>
                    <img src="/img/Discord.png" alt="Discord" class="Discord_img">
                </a>
                <a>
                    <img src="/img/Twitter.png" alt="Twitter" class="Twitter_img">
                </a>
                <a>
                    <img src="/img/Gmail.png" alt="Gmail" class="Gmail_img">
                </a>
                <a>
                    <img src="/img/Facebook.png" alt="Facebook" class="Facebook_img">
                </a>
                <a>
                    <img src="/img/Steam.png" alt="Steam" class="Steam_img">
                </a>
                <a>
                    <img src="/img/Readdit.png" alt="reddit" class="reddit_img">
                </a>
            </div>
        </div>
        <div class="last_footer"></div>
    </footer>

    <!-- java script library  -->
    <!-- <script src="~/lib/bootstrap/dist/css/bootstrap.css"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script> 
        <script src="~/js/site.js" asp-append-version="true"></script> -->
    <!-- java script -->
    <script src="~/js/game.js"></script>
    <script src="~/js/program.js"></script>
    <script src="~/js/header.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
